django
black
pre-commit
langchain_chroma==0.2.4
langchain_openai==0.3.27
langchain_community==0.3.27
langchain_tavily==0.2.7
pdfminer.six
python-dotenv
gunicorn
uvicorn
python-decouple
whitenoise
pinecone
Pillow